{% apply spaceless %}
    <head>
        <meta charset="utf-8" />
        <title>{{ sas.app_description ~ ' | ' ~ (page_title | trans({}, 'pages')) }}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta name="generator" content="Semart Api Skeleton" />
        <meta name="version" content="{{ sas.version }}" />
        <meta name="source" content="https://github.com/KejawenLab/SemartApiSkeleton" />
        <meta name="author" content="Muhamad Surya Iksanduin" />
        <meta name="email" content="surya.iksanudin@gmail.com" />
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link rel="stylesheet" href="{{ preload(asset('plugins/coreui-icons/css/all.min.css'), {as: 'style'}) }}">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="{{ preload(asset('assets/global/plugins/font-awesome/css/font-awesome.min.css'), {as: 'style'}) }}" rel="stylesheet" type="text/css" />
        <link href="{{ preload(asset('assets/global/plugins/simple-line-icons/simple-line-icons.min.css'), {as: 'style'}) }}" rel="stylesheet" type="text/css" />
        <link href="{{ preload(asset('assets/global/plugins/bootstrap/css/bootstrap.min.css'), {as: 'style'}) }}" rel="stylesheet" type="text/css" />
        <link href="{{ preload(asset('assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css'), {as: 'style'}) }}" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="{{ preload(asset('assets/global/css/components-md.min.css'), {as: 'style'}) }}" rel="stylesheet" id="style_components" type="text/css" />
        <link href="{{ preload(asset('assets/global/css/plugins-md.min.css'), {as: 'style'}) }}" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="{{ preload(asset('assets/layouts/layout4/css/layout.min.css'), {as: 'style'}) }}" rel="stylesheet" type="text/css" />
        <link href="{{ preload(asset('assets/layouts/layout4/css/themes/light.min.css'), {as: 'style'}) }}" rel="stylesheet" type="text/css" id="style_color" />
        <link href="{{ preload(asset('assets/layouts/layout4/css/custom.min.css'), {as: 'style'}) }}" rel="stylesheet" type="text/css" />
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="favicon.ico" /> </head>
{% endapply %}
